{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brewsters | Join now!</title>
    <link rel="stylesheet" href="{% static 'brewsters_app/css/styles.css' %}">  <!-- Link to CSS -->
    <link rel="icon" href="https://i.postimg.cc/85Ghv6n5/brewsters-logo-terrible-i-know.png" type="image/x-icon">
</head>
<body>
    <div class="sidebar" id="sidebar">
        <button class="toggle-btn" id="toggle-btn">☰</button>
        <ul>
            <li><a href="#" class="selected-page">Menu</a></li>
            <!--to add other options here-->
            <li>
                <form action="{% url 'logout' %}" method="post" id="logout-form" style="display: inline;">
                    {% csrf_token %}
                    <a href="#" onclick="document.getElementById('logout-form').submit();">Log out</a>
                </form>
            </li>
        </ul>
    </div>
    <div class="content central-block" id="content">
        <section class="welcome-section">
            <img src="https://i.postimg.cc/85Ghv6n5/brewsters-logo-terrible-i-know.png" alt="Brewsters logo" class="big-logo">
            <div class="text-block">
                <h1>Brewsters</h1>
                <h4>Community for coffee</h4>
            </div>
        </section>
        <section class="">
            <div class="">
                <h1>Yo it's the home</h1>
            </div>
        </section>

        <div id="dialog" class="dialog">
            <div class="dialog-content" id="dialog-content">
                
                <!--using JavaScript to inject HTML in here as I'll use the same dialog box for both submenu and addon menu-->
                
            </div>
        </div>
    </div>

    <script src="{% static 'brewsters_app/js/script.js' %}"></script>  <!-- Link to JavaScript -->
</body>
</html>
