/* general styles, to be applied across the board unless specified otherwise */
body {
    background-color: #EECE90;
}

button { /* to apply to all buttons unless specified otherwise */
    cursor: pointer;
    background-color: #EEBB06;
    border: none;
}

button:hover { /* to apply to all buttons unless specified otherwise */
    background-color: #A78F38;
}


/* elements in welcome.html */
.welcome-section {
    margin-top : 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.big-logo {
    width: 150px;
    height: 150px;
}

.text-block {
    width: auto;
    height: auto;
    text-align: center;
}

.text-block h1 {
    font-size: 350%;
    margin: 5px 5px 8px 10px;
}

.text-block h4 {
    font-size: 200%;
    margin: 5px 5px 8px 10px;
}

.welcome-btn-container {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20vw;
    align-items: center;
    justify-content: center;
}

.welcome-btn-container button {
    width: 150px;
    height: fit-content;
    padding: 15px;
    font-size: larger;
    font-weight: 800;
}



/* styles for signup.html and login.html (same format used hence used html classes) */
.auth-div {
    margin-top: 40px;
    text-align: center;
}

.auth-div h2 {
    font-size: x-large;
}

.auth-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 18px;
    text-align: left;
    width: fit-content;
}

.form-group label {
    font-size: large;
    font-weight: 800;
}

.form-group input {
    width: 30vw;
    font-size: medium;
}

.submit-btn {
    width: 150px;
    height: fit-content;
    padding: 10px;
    background-color: #EEBB06;
    font-size: medium;
    font-weight: 600;
}




/*styles for collapsible menu*/
.collapsible-body {
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    background-color: #EEBB06;
    color: black;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 70px; /* Adjust for the button */
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 150%;
    margin-left: 20px;
}

.sidebar ul li .selected-page {
    text-decoration: underline black;
    color: black;
    font-weight: 900;
}

.sidebar .toggle-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 150%;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s ease;
    flex-grow: 1;
    width: 100vw;
    min-height: 100vh;
    max-height: auto;
}

.sidebar.collapsed {
    width: 50px; /* Width for sidebar peeking */
}

.sidebar.collapsed ul {
    display: none;
}

.content.collapsed {
    margin-left: 50px; /* Adjust according to sidebar width when collapsed */
}

.picc-header-image {
    max-width: 60%;
    height: auto;
}

.central-block { /*to be used for all divs that require items being centralized*/
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

/* all styles for displaying menu */
.items-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
    width: 70%;
    padding: 5px 30px 10px 30px;
}

.menu-item-div {
    width: 200px;
    height:200px;
    padding: 10px 5px 5px 5px;
    cursor: pointer;
}

.menu-item-div img {
    width: 180px;
    height: 180px;
    margin-bottom: 0px;
}

.menu-item-div p {
    font-weight: 800;
    font-size: 20px;
    color: black;
    padding: 0px 10px 5px 10px;
    margin-top: 0px;
}



/* to aid responsive design on smaller devices */
@media (max-width: 768px) {
    .big-logo {
        width: 80px;
        height: 80px;
    }

    .text-block h1 {
        font-size: 190%;
        margin: 5px 5px 8px 10px;
    }
    
    .text-block h4 {
        font-size: 110%;
        margin: 5px 5px 8px 10px;
    }

    .welcome-btn-container {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 3vh;
        align-items: center;
        justify-content: center;
    }
    
    .welcome-btn-container button {
        padding: 10px;
        font-size:medium;
        font-weight: 600;
    }



    
    .auth-div h2 {
        font-size: medium;
    }
    
    .form-group {
        margin-bottom: 12px;
    }
    
    .form-group label {
        font-size: small;
        font-weight: 600;
    }
    
    .form-group input {
        width: 50vw;
        font-size: smaller;
    }
    
    .submit-btn {
        width: 120px;
        padding: 10px;
        font-size: small;
        font-weight: 600;
    }  
    
    


    .items-list {   
        /*background-color: #fff;*/
        width: 70%;
        gap: 40px;
        padding: 5px 30px 10px 30px;
    }

    .menu-item-div {
        /*background-color: blue;*/
        width: 130px;
        height:130px;
    }
    
    .menu-item-div img {
        width: 110px;
        height: 110px;
    }
    
    .menu-item-div p {
        font-weight: 800;
        font-size: 20px;
        padding: 0px 10px 5px 10px;
        margin-top: 0px;
    }
}